@font-face {
  font-family: mona-sans;
  src: url(../../assets/fonts/Mona-Sans.ttf);
}

@font-face {
  font-family: hubot-sans;
  src: url(../../assets/fonts/Hubot-Sans.ttf);
}

* {
  margin: 0;
}

body {
  background-color: #0d1117;
}

nav a {
  padding: 0.5rem 1rem;
  margin: 1rem 0rem;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: white;
  font-family: mona-sans;
  transition: 0.3s;
}

.nav_bar {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
}

nav a:hover {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
  /* font-size: large; */
}

@media screen and (min-width: 1000px) {
  /* large size */

  #header {
    width: 100%;
    height: 700px;
    background: linear-gradient(
        to bottom,
        rgba(13, 17, 23, 0.3),
        rgba(13, 17, 23, 1)
      ),
      url("../../assets/images/img_slide_1.jpg");
    background-size: cover;
    background-position: bottom;
  }

  .item {
    width: 30%;
  }

  nav {
    text-align: right;
  }

  #menu {
    display: none;
  }

  #review_form {
    width: 50%;
  }

  #review_form label {
    width: 20%;
    display: inline-block;
  }

  #review_form input,
  textarea {
    width: 75%;
  }
}

@media screen and (max-width: 999px) and (min-width: 700px) {
  /* medium */

  #header {
    width: 100%;
    height: 500px;
    background: linear-gradient(
        to bottom,
        rgba(13, 17, 23, 0.3),
        rgba(13, 17, 23, 1)
      ),
      url("assets/images/img_slide_1.jpg");
    background-size: cover;
    background-position: bottom;
  }

  .item {
    width: 45%;
  }

  #menu {
    display: block;
    text-align: right;
    color: white;
    font-size: 2rem;
  }

  nav {
    text-align: right;
  }

  nav a {
    display: inline-block;
    text-align: right;
    text-decoration: none;
    color: white;
    margin: 0.8rem 0rem;
    padding: 0.5rem;
    /* visibility: hidden; */
  }
}

@media screen and (max-width: 699px) {
  /* small size */
  #header {
    width: 100%;
    height: 400px;
    background: linear-gradient(
        to bottom,
        rgba(13, 17, 23, 0.3),
        rgba(13, 17, 23, 1)
      ),
      url("assets/images/img_slide_1.jpg");
    background-size: cover;
    background-position: bottom;
  }

  .item {
    width: 90%;
  }
  #menu {
    display: block;
    text-align: right;
    color: white;
    font-size: 2rem;
  }

  nav {
    text-align: right;
  }

  nav a {
    display: inline-block;
    text-align: right;
    text-decoration: none;
    color: white;
    margin: 0.8rem 0rem;
    padding: 0.5rem;
    /* visibility: hidden; */
  }
}

.intro_container {
  display: flex;
  justify-content: flex-end;
  margin-top: 4rem;
}

#intro_para {
  color: white;
  margin-right: 1rem;
  font-size: large;
  font-family: hubot-sans;
  overflow: hidden;
  white-space: nowrap;
  text-align: end;
}

.page_title {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.page_title h1 {
  font-family: mona-sans;
  color: white;
  font-size: 3rem;
}

footer {
  background-image: url("assets/images/img_footer_bg.jpeg");
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  color: white;
  font-family: mona-sans;
  background-size: cover;
  background-position: top;
}

.footerContent {
  /* background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); */
  padding: 1rem;
}

footer p {
  margin-bottom: 0.7rem;
}

#social {
  margin-bottom: 0.7rem;
}

#social a {
  text-decoration: none;
  color: white;
  padding: 0 0.5rem;
  font-size: larger;
}

.itemContainer {
  display: flex;
  flex-wrap: wrap;
}

.item {
  background-color: #21262d;
  color: white;
  margin: 1rem auto;
  border-radius: 20px;
  overflow: hidden;
}

.item img {
  width: 100%;
}

.itemContent {
  padding: 1rem;
}

.item h1 {
  font-family: hubot-sans;
  margin: 0.5rem 0;
}

.item h2 {
  font-family: hubot-sans;
  margin: 0.5rem 0;
}

.item p {
  font-family: hubot-sans;
  text-align: justify;
  line-height: 150%;
}

.item button {
  background-color: #89929b;
  color: #ecf2f8;
  border-radius: 10px;
  border-color: #c6cdd5;
  border-width: 1px;
  font-family: mona-sans;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  transition: 0.5s;
}

.item button:hover {
  background-color: #7ce38b;
  color: black;
}

.review {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.review {
  font-family: mona-sans;
  color: white;
}

#review_form {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: table;
  padding: 1rem;
  border-radius: 16px;
}

#review_form h2 {
  margin-bottom: 1rem;
}

.row {
  background-color: black;
  align-items: center;
}
